<h1>Project Update: Today is the last day for you to complete <%= @project.name %> project </h1>

<p>You are recieving this mail because you are assigned to this project. You are requested to complete the project as soon as possible or else you will be responsible for further action against you.</p>

