<h1>Project Update: You will recieve the mail in some time</h1>

<p>You are recieving this mail because you are going to be assigned in a project, whose details will be provided to you in some time.</p>